/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');

:root {
    --primary-color: #29b6f6;
    --primary-color-medium: #039be5;
    --primary-color-dark: #0d47a1;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    font-family: 'Cairo', sans-serif !important;
    color: rgba(0 0 0 / 75%);
    font-size: 16px;
}
.ef-logo-font {
    font-family: 'Allison', cursive;
}
/**
* UTILITIES
**/
.no-select,
.no-select * {
    user-select: none !important;
}
.font-fade-65 { color: rgba(0 0 0 / 65%); }
.mt-5 { margin-top: 5px !important; }
.mt-15 { margin-top: 15px !important; }
.mt-30 { margin-top: 30px !important; }
.mb-15 { margin-bottom: 15px !important; }
.mr-5 { margin-right: 5px !important; }
.mr-10 { margin-right: 10px !important; }
.pt-0 { padding-top: 0 !important; }
.text-center { text-align: center; }
.full-width { width: 100%; display: flex; }
.radio-group-vertical {
    display: flex;
    flex-direction: column;
}
.radio-group-vertical .radio-btn {
    margin: 7px;
}
.radio-group-vertical .radio-btn label {
    white-space: normal;
}
/**
* Material Override
**/
.mat-body, .mat-body-1, .mat-typography {
    font-size: 16px;
}

/**********************************************
* Custom Scrollbar
**********************************************/
  /* width */
  ::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--primary-color);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color-dark);
  }
/********************************************/

mat-form-field[fullWidth] {
    display: flex;
    flex: 1;
    .mat-form-field-wrapper {
        width: 100%
    }
}
.mat-form-pt-0 .mat-form-field-infix {
    padding-top: 0;
}
.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
    background-color: var(--primary-color);
}
.input-right-icon {
    position: absolute;
    top: 7px;
    right: -30px;
    cursor: default;
    color: #f44336;
}
@media (max-width: 600px) {
    .hide-below-600 {
        display: none !important;
    }
}