<div class="create-exam-intro-section">
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Exam title</mat-label>
        <input matInput>
    </mat-form-field>
    <div class="category-group">
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Category</mat-label>
                <mat-select>
                    <mat-option value="one">First option</mat-option>
                    <mat-option value="two">Second option</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Subcategory</mat-label>
                <mat-select>
                    <mat-option value="one">First option</mat-option>
                    <mat-option value="two">Second option</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Description</mat-label>
        <textarea matInput></textarea>
    </mat-form-field>
</div>