.create-exam-intro-section {
    width: 90vw;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    margin: 5px auto;
    flex-direction: column;
    padding: 0 5px;
}
.category-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
}
// .category-group {
//     display: flex;
//     flex-wrap: wrap;
//     margin: 0 -5px;
// }
// .category-group > div {
//     display: flex;
//     flex: 1;
//     min-width: 300px;
//     padding: 0 5px;
// }