<div class="create-exam-intro-section">
    <h1 class="font-fade-65 mb-15">Let's start creating the exam</h1>
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Exam title</mat-label>
        <input matInput [(ngModel)]="qaIntroObj.name">
    </mat-form-field>
    <div class="category-group">
        <!-- <div> -->
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Category</mat-label>
                <mat-select (selectionChange)="onCatSelect($event)" [value]="qaIntroObj.cat">
                    <mat-option *ngFor="let c of cats" [value]="c.id">
                        {{c.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        <!-- </div>
        <div> -->
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Subcategory</mat-label>
                <mat-select (selectionChange)="onSubcatSelect($event)" [value]="qaIntroObj.subcat">
                    <mat-option *ngFor="let sc of subcats" [value]="sc.id">
                        {{sc.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        <!-- </div> -->
    </div>
    
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Description</mat-label>
        <textarea matInput [(ngModel)]="qaIntroObj.desc"></textarea>
    </mat-form-field>
</div>