<div class="top-tag">
    <span class="id no-select" (click)="isCollapsed = !isCollapsed">
        QA Block {{qaBlockIndex+1}}
        <span class="toggler-ico">
            <mat-icon *ngIf="!isCollapsed">expand_less</mat-icon>
            <mat-icon *ngIf="isCollapsed">expand_more</mat-icon>
        </span>
    </span>
</div>
<mat-card class="qa-block" [ngClass]="{ collapsed: isCollapsed }">
    <div class="line-1">
        <mat-form-field class="mat-form-pt-0">
            <!-- <mat-label>Question Type</mat-label> -->
            <mat-select [(ngModel)]="qaBlock.type" (selectionChange)="qaBlock.ans=[]">
              <mat-option *ngFor="let qType of Q_TYPES_INFO" [value]="qType.id">
                {{qType.text}}
              </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="body">
        <mat-form-field class="question" appearance="fill">
            <mat-label>Question</mat-label>
            <textarea matInput placeholder="Type question here..." rows="4" [(ngModel)]="qaBlock.question"></textarea>
        </mat-form-field>
        <mat-radio-group (change)="markRadioAns($event)">
            <div *ngFor="let op of qaBlock.options; let opIndex = index" class="option">
                <mat-radio-button *ngIf="qaBlock.type === Q_TYPES.MCQ_SA"
                    [value]="op.id" 
                    [checked]="qaBlock.ans.includes(op.id)"
                >
                    <span class="op-index">{{ALPHA[opIndex]}}. </span>
                </mat-radio-button>
                <mat-checkbox *ngIf="qaBlock.type === Q_TYPES.MCQ_MA" 
                    (change)="updateCheckboxAns($event, op.id)"
                    [checked]="qaBlock.ans.includes(op.id)"
                >
                    <span class="op-index">{{ALPHA[opIndex]}}. </span>
                </mat-checkbox>
                <mat-form-field class="option-text">
                    <mat-label>Option</mat-label>
                    <input matInput placeholder="Type option here..." [value]="op.text" (blur)="updateOptionValue($event, opIndex)">
                    <!-- <input matInput placeholder="Type option here..." [(ngModel)]="option"> -->
                    <!-- <mat-icon  >delete</mat-icon> -->
                </mat-form-field>
                <button mat-icon-button (click)="deleteOption($event, op.id)" color="warn" class="del-op" aria-label="delete an option icon button">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </mat-radio-group>

        <button *ngIf="qaBlock.options.length < MAX_OPTION" mat-raised-button (click)="addNewOption()">Add Option</button>
    </div>
</mat-card>
