.top-tag {
    text-align: center;
}
.top-tag .id {
    background: var(--primary-color);
    color: #fff;
    padding: 5px 36px 5px 15px;
    display: inline-flex;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    position: relative;
}
.toggler-ico {
    position: absolute;
    right: 6px;
    top: 3px;
    color: var(--primary-color-medium);
    cursor: default;
    color: #fff;
}
.toggler-ico mat-icon {
    font-size: 24px;
}
.qa-block {
    border-top: 5px solid var(--primary-color);
    // margin: 0 15px;
    padding-top: 0;
    transition: all 500ms linear;
    // transform-origin: top;
    max-height: 500px;
    overflow: auto;
}
.qa-block.collapsed {
    // transform: scaleY(0)
    overflow: hidden;
    max-height: 7px;
    padding-bottom: 0;
}
.line-1 {
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
    position: relative;
}
.qablock-label {
    align-items: center;
    background: var(--primary-color-medium);
    color: #fff;
    display: flex;
    height: 30px;
    padding: 0 15px;
    border-radius: 4px;
    font-size: 14px;
}
.question {
    width: 100%;
}
.option {
    width: calc(100% - 60px);
    position: relative;
    margin-left: 30px;
}
.del-op {
    position: absolute;
    top: 7px;
    right: -30px;
    cursor: default;
    color: #f44336;
}
.op-index {
    position: absolute;
    top: 7px;
    left: -30px;
    cursor: default;
    font-weight: 600;
    color: var(--primary-color);
}