<div class="landing_page">
    <div class="giant_text text-center">I am here to</div>
    <div class="mt-15 text-center">
        <button mat-raised-button class="mr-5" (click)="visibleCard = 'CREATE_EXAM'">Create an Exam</button>
        <button mat-raised-button (click)="visibleCard = 'TAKE_EXAM'">Take an Exam</button>

        <div class="action-cards-container">
            <!-- CREATE EXAM CARD -->
            <mat-card class="action_card create_exam_card" [ngClass]="{ visible: visibleCard === 'CREATE_EXAM' }">
                <mat-icon class="close_ico" (click)="visibleCard = ''">cancel</mat-icon>
                <p>I want to</p>
                <ul>
                    <li><a mat-button routerLink="/create-exam">Create a Single Exam</a></li>
                    <li><a mat-button routerLink="/create-org">Create an Organization</a></li>
                </ul>
            </mat-card>

            <!-- TAKE EXAM CARD -->
            <mat-card class="action_card  take_exam_card" [ngClass]="{ visible: visibleCard === 'TAKE_EXAM' }">
                <mat-icon class="close_ico" (click)="visibleCard = ''">cancel</mat-icon>
                <p>I have an Exam-Code</p>
                <div class="input_and_button">
                    <mat-form-field class="mr-5" fullWidth>
                        <input type="text" matInput placeholder="Enter exam code">
                    </mat-form-field>
                    <button mat-raised-button>
                        Go
                        <mat-icon>double_arrow</mat-icon>
                    </button>
                </div>
                <div>
                    <span>OR</span>
                </div>
                <div class="mt-5">
                    I would like to<a mat-button routerLink="/exams-gallery">Browse all exams</a>
                </div>
            </mat-card>
        </div>
    </div>
</div>

