<div class="sign-in-up-page">
    <!-- Sign In Section -->
    <section class="half-sec mb-15">
        <h1>Sign In</h1>

        <form #signinForm="ngForm" (ngSubmit)="handleSignin($event, signinForm)">
            <mat-form-field class="field">
                <mat-label>Email</mat-label>
                <input matInput name="email" ngModel>
                <mat-icon class="input-right-icon">error</mat-icon>
            </mat-form-field>
    
            <mat-form-field class="field">
                <mat-label>Password</mat-label>
                <input matInput type="password" name="pswd" ngModel>
                <mat-icon class="input-right-icon">error</mat-icon>
            </mat-form-field>
    
            <button type="submit" mat-raised-button color="primary" class="field mt-15">Sign In</button>
        </form>
        
    </section>


    <!-- Sign Up Section -->
    <section class="half-sec mb-15">
        <h1>Sign Up</h1>

        <form #signupForm="ngForm" (ngSubmit)="handleSignup($event, signupForm)">
            <mat-form-field class="field">
                <mat-label>Fullname</mat-label>
                <input matInput name="fullname" ngModel>
                <mat-icon class="input-right-icon">error</mat-icon>
            </mat-form-field>
    
            <mat-form-field class="field">
                <mat-label>Email</mat-label>
                <input matInput name="email" ngModel>
                <mat-icon class="input-right-icon">error</mat-icon>
            </mat-form-field>
    
            <mat-form-field class="field">
                <mat-label>Password</mat-label>
                <input matInput type="password" name="pswd" ngModel>
                <mat-icon class="input-right-icon">error</mat-icon>
            </mat-form-field>
    
            <mat-form-field class="field">
                <mat-label>Repeat Password</mat-label>
                <input matInput type="password" name="rpswd" ngModel>
                <mat-icon class="input-right-icon">error</mat-icon>
            </mat-form-field>
    
            <button mat-raised-button color="primary" class="field mt-15">Sign Up</button>
        </form>
        
    </section>
</div>
