<div class="sign-in-up-page">
    <!-- Sign In Section -->
    <section class="half-sec mb-15">
        <h1>Sign In</h1>

        <mat-form-field class="field">
            <mat-label>Email</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field class="field">
            <mat-label>Password</mat-label>
            <input matInput type="password">
        </mat-form-field>

        <button mat-raised-button color="primary" class="field mt-15">Sign In</button>
    </section>


    <!-- Sign Up Section -->
    <section class="half-sec mb-15">
        <h1>Sign Up</h1>

        <mat-form-field class="field">
            <mat-label>Fullname</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field class="field">
            <mat-label>Email</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field class="field">
            <mat-label>Password</mat-label>
            <input matInput type="password">
        </mat-form-field>

        <mat-form-field class="field">
            <mat-label>Repeat Password</mat-label>
            <input matInput type="password">
        </mat-form-field>

        <button mat-raised-button color="primary" class="field mt-15">Sign Up</button>
    </section>
</div>
