
<mat-horizontal-stepper class="create-exam-stepper-container">
    <mat-step label="Intro">
        <app-create-exam-intro-section [qaIntroObj]="qPaper.intro"></app-create-exam-intro-section>
    </mat-step>
    <mat-step label="Body">
        <app-create-exam-body-section [qaBlocksObj]="qPaper.body"></app-create-exam-body-section>
    </mat-step>
    <mat-step label="Finish">
        <app-create-exam-finish-section 
        [qaFinishObj]="qPaper.finish"
        [totalQ]="getTotalQ()"
        ></app-create-exam-finish-section>
    </mat-step>
</mat-horizontal-stepper>

<button mat-raised-button (click)="saveDraft()">Save Draft</button>





