<mat-drawer-container class="sidenav-container" [ngClass]="{'open': isSidebarOpened}" autosize>
    <mat-drawer #sidenavdrawer class="sidenav" mode="side">
      <ul>
        <li *ngFor="let nav of navs" (click)="toggleSidenav()">
          <a [routerLink]="nav.path">
            <i class="{{nav.faClass}} mr-5"></i>
            {{nav.title}}
          </a>
        </li>
      </ul>
      
    </mat-drawer>
    <button class="btn-toggle" type="button" mat-button (click)="toggleSidenav()">
      <i class="fas fa-bars"></i>
    </button>
</mat-drawer-container>
  